<html>
   <head>
	<title>Welcome to ansible</title>
   </head>
   <body>
        <h1>Nginx, confiugred by ansible</h1>
        <p> if you can see this, Ansible successfully instanlled nginx.</p>
        <p> {{ ansible_managed }} </p>
   </body>
</html>
